<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard.dashboard') }}">CRM Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard.dashboard') }}">Дашборд</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('projects.list_projects') }}">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tasks.list_tasks') }}">Задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('materials.list_materials') }}">Материалы</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        {{ current_user.first_name or current_user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выход</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
