<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">CRM Dashboard</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashboard.index') }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('projects.list_projects') }}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('tasks.list_tasks') }}">Tasks</a>
        </li>
        <li class="nav-item">
          <!-- временно ведём на список материалов по проекту 1
               или просто убираем ссылку, если не нужна -->
          <a class="nav-link" href="{{ url_for('materials.project_materials', project_id=1) }}">
            Materials
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
