{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Проектов всего</h5>
        <p class="card-text fs-3">{{ counters.total_projects }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Задач всего</h5>
        <p class="card-text fs-3">{{ counters.total_tasks }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Просроченных</h5>
        <p class="card-text fs-3 text-danger">{{ counters.tasks_overdue }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
